name: Deploy to Surge Website

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Deploying to surge

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm install
        working-directory: ./projet/frontend
      - run: npm run build
        working-directory: ./projet/frontend
      - run: npm install -g surge
      - run: surge ./project/frontend/dist ${{ secrets.SURGE_DOMAIN }} --token ${{ secrets.SURGE_TOKEN }}
